<nav class="navbar navbar-expand-lg navbar-dark productOrderingMenuBar">
    <button class="homeButtonStyle" title="Home page" (click)="goToHomePage()"><b>Home</b></button>
    <button class="customersButtonStyle" title="Manage customers" (click)="goToCustomers()"><b>Customers</b></button>
    <button class="categoriesButtonStyle" title="Manage categories" (click)="goToCategories()"><b>Categories</b></button>
    <button class="productsButtonStyle" title="Manage products" (click)="goToProducts()"><b>Products</b></button>
</nav>