.productOrderingMenuBar {
    background-color:#5D5C61;
    height: 70px;
  }

  .customersButtonStyle {
    background-color: white;
    margin-right: 10px;
  }

  .homeButtonStyle {
    background-color: white;
    margin-right: 10px;
  }

  .categoriesButtonStyle {
    background-color: white;
    margin-right: 10px;
  }

  .productsButtonStyle {
    background-color: white;
  }