<div>
  <app-Menu></app-Menu>
</div>

<div
  class="loading-indicator"
  style="z-index: 1500"
  *ngIf="showProgressSpinner"
>
  <p-progressSpinner
    [style]="{ width: '50px', height: '50px', 'z-index': '1500' }"
    strokeWidth="8"
    fill="#EEEEEE"
    animationDuration=".5s"
  ></p-progressSpinner>
</div>

<div style="padding-bottom: 10px"></div>

<div style="padding: 20px; border: solid 1px black">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-1">
        <button
          type="button"
          pButton
          icon="pi pi-fw pi-plus"
          label="Add"
          (click)="showDialogToAdd()"
        ></button>
      </div>
    </div>
  </div>

  <p-table
    [columns]="this.gridCols"
    [value]="this.CategoryList"
    [paginator]="true"
    [rows]="10"
    selectionMode="single"
    [(selection)]="selectedCategory1"
    [responsive]="true"
    #dt
  >
    <ng-template pTemplate="caption">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <!-- <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button> -->
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-excel"
            (click)="exportExcel()"
            class="p-button-success p-mr-2"
            pTooltip="XLS"
            tooltipPosition="bottom"
          ></button>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-pdf"
            (click)="exportPdf()"
            class="p-button-warning p-mr-2"
            pTooltip="PDF"
            tooltipPosition="bottom"
          ></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th
          *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          style="width: 200px"
          class="wordBreakStyle"
        >
          {{ col.header }}
          <p-sortIcon
            [field]="col.field"
            ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"
          >
          </p-sortIcon>
        </th>
<!-- 
        <th pSortableColumn="categoryname">Category Name <p-sortIcon field="categoryname"></p-sortIcon></th>
        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th> -->
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input
            *ngSwitchCase="'categoryname'"
            pInputText
            type="text"
            placeholder="Category Name"
            title="Filter by Category Name"
            (input)="dt.filter($event.target.value, col.field, 'contains')"
          />
          <input
            *ngSwitchCase="'description'"
            pInputText
            type="text"
            placeholder="Description"
            title="Filter by Description"
            (input)="dt.filter($event.target.value, col.field, 'contains')"
          />
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns" class="wordBreakStyle">
          <span class="ui-column-title">{{ col.header }}</span>
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
<!-- 
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No category found.</td>
      </tr>
    </ng-template> -->
  </p-table>
</div>


<!--  This is for Insert Popup  -->
<p-dialog
  header="Create new Category"
  [(visible)]="showInsertDialog"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '600px' }"
  [focusOnShow]="false"
  [draggable]="false"
>
  <div class="ui-g ui-fluid" *ngIf="newCategoryData">
    <div class="mandatoryIndicationStyle">
      <span>* Fields are mandatory</span>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2"></div>
      <div class="ui-g-8">
        <p-messages key="c" [(value)]="createmsg"></p-messages>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4 alignRight">
        <label>Category Name:</label>
        <span style="color: red;">*</span>
      </div>
      <div class="ui-g-8">
        <input
          id="reportNoTextBox"
          type="text"
          name="reportNoTextBox"
          required
          [(ngModel)]="newCategoryData.ReportId"
          pInputText
          maxlength="50"
        />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4 alignRight">
        <label>Description:</label>
        <span style="color: red;">*</span>
      </div>
      <div class="ui-g-8">
        <textarea
          rows="3"
          cols="58"
          [(ngModel)]="newCategoryData.Keywords"
          name="descriptionTextBox"
          required
          pInputTextarea
          maxlength="900"
        ></textarea>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        pButton
        label="Save"
        type="button"
        class="ui-button-raised"
        (click)="CreateNewESReport()"
      ></button>
      <button
        pButton
        type="button"
        label="Close"
        class="ui-button-raised ui-button-secondary"
        (click)="closeNewESWindow()"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<!--  This is for Edit Popup  -->
<p-dialog
  header="Edit Category"
  [(visible)]="showEditDialog"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '600px' }"
  [focusOnShow]="false"
  [draggable]="false"
>
  <div class="ui-g ui-fluid" *ngIf="editCategoryData">
    <div class="ui-g-12">
      <div class="ui-g-2"></div>
      <div class="ui-g-8">
        <p-messages key="d" [(value)]="createmsg"></p-messages>
      </div>
      <!-- <div class="ui-g-2"></div> -->
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4 alignRight">
        <label>Category Name:</label>
        <span style="color: red;">*</span>
      </div>
      <div class="ui-g-8">
        <input
          id="reportNoTextBox"
          type="text"
          name="reportNoTextBox"
          required
          [(ngModel)]="editCategoryData.ReportId"
          pInputText
          class="width100Percent"
          maxlength="50"
        />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4 alignRight">
        <label>Description:</label><span style="color: red;">*</span>
      </div>
      <div class="ui-g-8">
        <textarea
          class="width100Percent"
          rows="3"
          cols="58"
          [(ngModel)]="editCategoryData.Keywords"
          name="descriptionTextBox"
          required
          pInputTextarea
          maxlength="900"
        ></textarea>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        pButton
        label="Update"
        type="button"
        class="ui-button-raised"
        (click)="UpdateESReport()"
      ></button>
      <button
        pButton
        type="button"
        label="Close"
        class="ui-button-raised ui-button-secondary"
        (click)="closeEditESDataPopUp()"
      ></button>
    </div>
  </p-footer>
</p-dialog>
